.cr-bgimg div span{
	width: 100%;
	height: 100%;
	position: absolute;
	left: -125px;
	top: 0;
	z-index: 2;
	background-repeat: no-repeat; 
	-webkit-transition:left 0.5s ease-in-out;
	-moz-transition:left 0.5s ease-in-out;
	-ms-transition:left 0.5s ease-in-out;
	-o-transition:left 0.5s ease-in-out;
	transition:left 0.5s ease-in-out;
}

.cr-container > input.cr-selector-img-1:checked ~ .cr-bgimg,
.cr-beimg div span:nth-child(1)
{
	background:url(../images/img1.jpg);
}
.cr-container > input.cr-selector-img-2:checked ~ .cr-bgimg,
.cr-beimg div span:nth-child(2)
{
	background:url(../images/img2.jpg);
}
.cr-container > input.cr-selector-img-3:checked ~ .cr-bgimg,
.cr-beimg div span:nth-child(3)
{
	background:url(../images/img3.jpg);
}
.cr-container > input.cr-selector-img-4:checked ~ .cr-bgimg,
.cr-beimg div span:nth-child(4)
{
	background:url(../images/img4.jpg);
}

.cr-bgimg div : nth -child(1) span{
	background-position: 0 0;
}

.cr-bgimg div : nth -child(2) span{
	background-position: -125px 0;
}

.cr-bgimg div : nth -child(3) span{
	background-position: -250px 0;
}

.cr-bgimg div : nth -child(4) span{
	background-position: --375px 0;
}

.cr-container inout:chacked ~ .cr-bgimg span{
	-webkit-animation: slideout 0.6s ease-in-out;
	-moz-animation: slideout 0.6s ease-in-out;
	-ms-animation: slideout 0.6s ease-in-out;
	-o-animation: slideout 0.6s ease-in-out;
	animation: slideout 0.6s ease-in-out;
}

@-weblit-keyframes slideout{
	0%{
		left: 0;
	}
	100%{
		left: 150px;
	}
}

@-weblit-keyframes slideout{
	0%{
		left: 0;
	}
	100%{
		left: 150px;
	}
}

@-moz-keyframes slideout{
	0%{
		left: 0;
	}
	100%{
		left: 150px;
	}
}

@-ms-keyframes slideout{
	0%{
		left: 0;
	}
	100%{
		left: 150px;
	}
}

@-o-keyframes slideout{
	0%{
		left: 0;
	}
	100%{
		left: 150px;
	}
}

.cr-container input.cr-selector-img-1 :checked ~ .cr-bgimg div span:nth-child(1),
.cr-container input.cr-selector-img-2 :checked ~ .cr-bgimg div span:nth-child(2),
.cr-container input.cr-selector-img-3 :checked ~ .cr-bgimg div span:nth-child(3),
.cr-container input.cr-selector-img-4 :checked ~ .cr-bgimg div span:nth-child(4)
{
     z-index:10;
     left: 0; 
     -webkit-animation:none;
      -moz-animation:none;
       -ms-animation:none;
        -o-animation:none;
         animation:none;
}

.cr-titles  h3{
	position: absolute;
	width: 100%
	text-align:center;
	color: #fff;
	opacity: 0;
	text-shadow:1px 1px 1px rgda(0,0,0,0.1);
	z-index: 10000;
	top;50%;
	-webkit-transition:opacity 0.8s ease-in-out;
	-moz-transition:opacity 0.8s ease-in-out;
	-ms-transition:opacity 0.8s ease-in-out;
	-o-transition:opacity 0.8s ease-in-out;
	transition:opacity 0.8s ease-in-out;
}

.cr-titles h3 span:nth-child(1){
	display: block;
	font-size: 70px;
	font-family: "BeasNeue","Arial Narrow",Arial sans-serif;
	letter-spacing: 7px;
}

.cr-titles h3 span:nth-child(2){
	display: block;
	font-size: 14px;
	padding:10px; 
	background: rgba(104,171,194,0.9);
	letter-spacing: 0;
	font-style: italic;
}

.cr-container input,cr-selector-img-1:checked ~ .cr-titles h3:nth-child(1),
.cr-container input,cr-selector-img-2:checked ~ .cr-titles h3:nth-child(2),
.cr-container input,cr-selector-img-3:checked ~ .cr-titles h3:nth-child(3),
.cr-container input,cr-selector-img-4:checked ~ .cr-titles h3:nth-child(4)
{
	opacity:1;
}
